@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
:root {
  --text-color: #fff;
  --light-text: #fff;
  --body-color: #141d2f;
  --light-blue: #0a54b4;
  --light-gray: #303c57;
  --secondary: #090936;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* 1rem=10px */
}
body {
    background-color: var(--body-color);
    max-width: 1440px;
    height: 100vh;
    
}
.light-theme{
  --body-color: #d0d2d6;
  --text-color: #131111;
  --secondary:  #7b7bd1;

}

a{
  text-decoration: none;
  color: yellow;
}
.nav{
    padding: 1em;
    padding-left: 1.5em;
    margin: 1rem 5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #777171;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav h1{
    color: var(--text-color);
    font-size: 2.2rem;
}
.theme{
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme .sun-icon{
  width: 40px;
}
.theme .moon-icon{
  height: 28px;
  width: 27px;
}
#btn-mode {
  cursor: pointer;
}

.container{
    width: 75%;
    /* height: 85%; */
    margin: 2rem 0;
    margin: auto;
}

.container .card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
.input-box{
  position: relative;
  height: 10%;
  width: 100%;
  background-color: var(--light-gray);
  border-radius: 10px;
}
.input-box i{
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
.input-box kbd{
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  border: 1px solid rgb(90, 84, 84);
  border-radius: 5px;
  padding: 3px;
}

.input-box input[type="search"]{
  /* min-width: 100%; */
  width: 85%;
  background-color: var(--light-gray);
  padding: 1.4rem;
  padding-left: 8rem;
  border-radius: 10px;
  font-size: 1.8rem;
  color: var(--light-text);
  border: none;
}
input:focus{
  outline: none;
}
.input-box button{
  position: absolute;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--light-blue);
  color: var(--text-color);
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.8rem;
  border: none;
}

.hidden{
  display: none;
}

.user-data {
  width: 100%;
  height: calc(90% - 1rem);
  margin-top: 1.8rem;
  padding: 3rem;
  border-radius: 1rem;
  background-color: var(--light-gray);
  color: var(--white-color);
  /* transition: height 2s; */
  animation: scalling .4s ease-in-out ;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.profile-img img {
  width: 100px;
  border-radius: 50%;
}
.profile-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2.2rem;
  font-size: 1.5rem;
  flex-wrap: wrap;
}

#username {
  font-weight: 600;
}
.profile-link a {
  text-decoration: none;
  color: yellow;
  font-weight: 800;
}
.additional-info {
  margin-top: 2.4rem;
  font-size: 1.8rem;
}
.repo-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: 100%;
  background-color: var(--body-color);
  border-radius: 10px;
  color: rgb(214, 236, 12);
  margin: 3rem 0;
}
.repo-info .txt {
  font-weight: 800;
}

.social {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px 0;
}
.social-info {
  display: flex;
  gap: 15px;
  width: 50%;
}
.social-info img {
  filter: brightness(0) invert(0.8);
}
.social-info .location img{
  width: 17px;
}
.social-info #location{
  margin-left: 3px;
}

.align-icons {
  display: flex;
  align-items: center;
}


/* @keyframes */
@keyframes scalling {
  0%{
    transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
  }
  
}


/* Media Queries */

@media screen and (max-width: 680px) {
  .nav{
    margin: 1rem 2rem;
  }
  .input-box i{
    left: 10px;
  }
  .input-box input[type="search"]{
    padding-left: 4rem;
  }
  .input-box button{
    right: 1rem;
    padding: 5px 10px;
    font-size: 1.6rem;
  }
  .input-box kbd{
    position: absolute;
    right: 26%;
    top: 50%;
    transform: translateY(-50%);
  
  }
  .container{
    width: 88%;
  }
  .container .card{
    margin-top: 3rem;
  }
  .user-data{
    padding: 1.5rem;
  }
  #user-full-name{
    font-size: 1.8rem;
  }
  .additional-info{
    font-size: 1.3rem;
  }
  .user-data .social{
    flex-direction: column;
    margin-left: 1rem;
  }
}
